<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="style.css">
<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap');

    html,
    body {
        font-family: 'Raleway', sans-serif;
    }

    .thankyou-page ._header {
        background: #4828fe;
        padding: 100px 30px;
        text-align: center;
        background: #333 url(https://codexcourier.com/images/main_page.jpg) center/cover no-repeat;
    }

    .thankyou-page ._header .logo {
        max-width: 200px;
        margin: 0 auto 50px;
    }

    .thankyou-page ._header .logo img {
        width: 100%;
    }

    .thankyou-page ._header h2 {
        font-size: 50px;
        font-weight: 500;
        color: white;
        margin: 0;
    }

    .thankyou-page ._body {
        margin: -70px 0 30px;
    }

    .thankyou-page ._body ._box {
        margin: auto;
        max-width: 80%;
        padding: 50px;
        background: white;
        border-radius: 3px;
        box-shadow: 0 0 35px rgba(10, 10, 10, 0.12);
        -moz-box-shadow: 0 0 35px rgba(10, 10, 10, 0.12);
        -webkit-box-shadow: 0 0 35px rgba(10, 10, 10, 0.12);
    }

    .thankyou-page ._body ._box h3 {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        color: #FF9800;
    }

    .thankyou-page ._footer {
        text-align: center;
        padding: 50px 30px;
    }

    .thankyou-page ._footer .btn {
        background: #0f7ec8;
        color: white;
        border: 0;
        font-size: 16px;
        font-weight: 600;
        border-radius: 0;
        letter-spacing: 0.8px;
        padding: 20px 33px;
        text-transform: uppercase;
    }

</style>
<header class="header_area">
    <!-- Header Area Start -->
    <div class="main_header_area animated">
        <div class="container">
            <div class="row">

                <div class="col-sm-2 col-xs-9">
                    <!-- Logo Area -->
                    <div class="logo_area">
                        <a href="http://www.baylearned.com/"><img src="img/core-img/logo.png" alt="bayLearnED logo" title="bayLearnED logo"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="thankyou-page">
    <div class="_header">
        <div class="logo">
            <img src="https://i.ibb.co/Lkn7rkG/thank-you-envelope.png" alt="thank-you-envelope" border="0">
        </div>
        <h2 >Thank You!</h2>
    </div>
    <div class="_body">
        <div class="_box">
            <h3>
                for contacting us, we will reply promptly

                once your message is received.
            </h3>

        </div>
    </div>
    <div class="_footer">
        <a class="btn" href="http://www.baylearned.com/">Back to homepage</a>
    </div>
</div>